<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer>
  <a href="/"><img class="footerLogo" src="/assets/svgs/logo-black.svg"></a>

                   
                  
                          

<DIV class="gandalf">Website by <a href="https://designgandalf.com/">Design Gandalf</a></DIV>

                  
                  </footer>




<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QC9MT69VHG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QC9MT69VHG');
</script>

