<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer>
  <a href="https://blossomtile.com/"><img alt="Blossom Tile Footer Logo" width="200" height="60.5" class="footerLogo" src="/assets/svgs/logo-black.svg"></a>

                   
                  
                          

<DIV class="gandalf">Website by <a href="https://designgandalf.com/">Design Gandalf</a></DIV>

                  
                  </footer>



 <!-- Script for Netlify Identity -->
 <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
 <script defer>
     if (window.netlifyIdentity) {
         window
             .netlifyIdentity
             .on('init', (user) => {
                 if (!user) {
                     window
                         .netlifyIdentity
                         .on('login', () => {
                             document.location.href = '/admin/';
                         });
                 }
             });
     }
 </script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QC9MT69VHG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QC9MT69VHG');
</script>

