---
title: 'Blossom Tile | Jackson County Michigan Tile Experts'
description: 'Jackson County Michigan Tile Experts'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}

   
{% endblock %}

{% block body %}


<div class="content headerContent">

    <h1>Tile expert with 30 years of experience</h1>
    <picture class="homeBg">
        <!-- Mobile Image -->
        <source media="(max-width: 600px)" srcset="/assets/images/home-m.webp">
        <!-- Desktop Image -->
        <source media="(min-width: 601px)" srcset="/assets/images/home.webp">
        <!-- Fallback Image -->
        <img class="imageOne" aria-hidden="true" decoding="async" src="/assets/images/home_1.jpg" alt="Beautiful Ceramic Tile Kitchen Backsplash in Jackson County Michigan" width="500" height="500">
    </picture>
    <picture class="homePic">
        <!-- Mobile Image -->
        <source media="(max-width: 600px)" srcset="/assets/images/home2.webp">
        <!-- Desktop Image -->
        <source media="(min-width: 601px)" srcset="/assets/images/home2.webp">
        <!-- Fallback Image -->
        <img class="imageTwo" aria-hidden="true" decoding="async" src="/assets/images/home_2.jpg" alt="Expert Tile installer in Jackson County Michigan, Paul Blossom" width="300" height="300">
    <div class="ownerTitle">Paul Blossom, Owner</div>
    </picture>
    <h2>Licensed & Insured</h2>
    <div>
        Blossom Tile is Locally owned and operated in  {{ client.address.city }}, {{ client.address.state }}.  We promise the best quality tile, service, and experience. Contact us and see why we are the best choice for  {{ client.offer}} in {{ client.address.city }}, {{ client.address.state }}.
        <DIV><a class="button buttonPrimary" href="tel:{{ client.phoneForTel }}">Get your dream job done</a>
        <a class="button buttonSecondary" href="tel:{{ client.phoneForTel }}">Call or Text Us {{ client.phoneFormatted }}</a></DIV>
        <div class="email">Or Email and we will get back to you right away {{ client.email }}</div>
        <div class="social">
            Or if you prefer you can message us directly on Facebook:<BR>
            <a target="_blank"  href="https://www.facebook.com/paul.blossom.10" title="Facebook">
              <svg role="img" style="fill:white; width:100px;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Facebook</title><path d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978.401 0 .955.042 1.468.103a8.68 8.68 0 0 1 1.141.195v3.325a8.623 8.623 0 0 0-.653-.036 26.805 26.805 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.686 1.686 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647Z"/></svg>
          </a>


              </div>

            
    </div>
</div>

<div class="servicesContainer">

    <div> 
        <picture class="servicesPic">
            <!-- Mobile Image -->
            <source media="(max-width: 600px)" srcset="/assets/images/ourwork.webp">
            <!-- Desktop Image -->
            <source media="(min-width: 601px)" srcset="/assets/images/ourwork.webp">
            <!-- Fallback Image -->
            <img class="imageWork" aria-hidden="true" decoding="async" src="/assets/images/ourwork.jpg" alt="Expert Tile installer in Jackson County Michigan, Paul Blossom" width="400" height="400">
        </picture>
        
        <h4>Ask about our Tile Installation</h3>
        <h2>10 Year Warranty</h2>
      
    
        <ul>
            <li>Kitchen Backsplash</li>
            <li>Bathroom Tile Floors</li>
            <li>Tile Shower Walls</li>
            <li>Tile Shower Floors</li>
            <li>Tile Floor Leveling</li>
        </ul>
    </div>

</div>

<div class="servicesTwo">
    <picture class="servicesPic">
        <!-- Mobile Image -->
        <source media="(max-width: 600px)" srcset="/assets/images/worktwo.webp">
        <!-- Desktop Image -->
        <source media="(min-width: 601px)" srcset="/assets/images/worktwo.webp">
        <!-- Fallback Image -->
        <img class="imageWorkTwo" aria-hidden="true" decoding="async" src="/assets/images/worktwo.jpg" alt="Expert Tile installer in Jackson County Michigan, Paul Blossom" width="400" height="400">
    </picture>
    <div>
           <h2>30 Years of Experience</h2>
    <h3>Serving Jackson County, Michigan</h3>
    <ul>

            <li>Brooklyn</li>
                <li>Clarklake</li>
                    <li>Concord</li>
                    <li>Coldwater</li>
                        <li>Grass Lake</li>
                            <li>Hanover</li>
                            <li>Hillsdale</li>
                                <li>Horton</li>
                                    <li>Jackson</li>
                                        <li>Michigan Center</li>
                                            <li> Munith</li>
                                                <li> Napoleon</li>
                                                    <li>Norvell</li>
                                                        <li>Parma</li>
                                                            <li>Pleasant Lake</li>
                                                                <li> Rives Junction</li>
                                                                    <li> Spring Arbor</li>
                                                                        <li> Springport</li>
        
                            </ul>

                        </div>

</div>

    






{% endblock %}