/* DARK MODE AND TOGGLE STYLES */

/*-- -------------------------- -->
<---      Core Dark Styles      -->
<--- -------------------------- -*/




body.dark-mode {color:white;background-color: black;}
.dark-mode .sectionTwo {color:white;background-color: black;}
#cs-contact {background-color: var(--background-color); color: var(--textOnBackground-color);}